html,body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

header h1{
    position: relative;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: indianred;
    line-height: 1,5;
    padding-bottom: 1000px;
}

main{
    margin: 50px;
    padding: 20px;
    background-color: aliceblue;
    box-sizing: border-box;
    
}

.dua{
    display: flex;
}

.enha{
    flex: 3;
    justify-content: space-between;
    
}

img{
    width: 100%;
    
}


aside{
    
    flex: 2;
    height: 100vh;
   
    
}

footer{
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    height: 100vh;

}


 button{
    padding: 10px;
    height: 1cm;
    width: 3cm;
    background-color: beige;
    border-radius: 5px;
    border: none;
 }

 a{
    text-decoration: none;
    color: black;
 }